from app component
Name from app component {{name}}
<app-first [name]="name" [title]="title"></app-first>

<app-child #childComp></app-child>

<!-- response is...{{data | json}} -->

<button (click)="getData()">Get Todo Activities</button>
<!-- <div *ngFor="let activity of data">
    id - {{activity.id}}
    userId - - {{activity.userId}}
    title - {{activity.title}}
    completed - {{activity.completed}}
</div> -->

<app-login></app-login>
<table>
    <thead>
        <th>id</th>
        <th>userId</th>
        <th>title</th>
        <th>status</th>
    </thead>
    <tr *ngFor="let activity of data">
        <td>{{activity.id}}</td>
        
        <td *ngIf="activity.userId == 1">ONE</td>
        <td *ngIf="activity.userId != 1">{{activity.userId}}</td>
        <td>{{activity.title}}</td>
        <td>{{activity.completed}}</td>
    </tr>
</table>

<button (click)="postData()">POst call</button>